<section class='section category-section'>
    {{> heading title="Giỏ hàng" }}
</section>
<section class='section'>
    <div class='container px-lg-4'>
        <div class='table-responsive-md'>
            <form>
                <table
                    class='table shop_table shop_table_responsive cart-form__contents position-relative'
                    cellspacing='0'
                >
                    <thead>
                        <tr>
                            <th class='product-remove'>Stt</th>
                            <th class=''>Hình Ảnh Sản Phẩm</th>
                            <th class='product-name'>Mô tả</th>
                            <th class='product-quantity'>Số lượng</th>
                            <th class='product-price'>Giá bán</th>
                        </tr>
                    </thead>
                    <tbody id='body-cart'>


                        <tr>
                            <td colspan='6' class='actions'>
                                <div class='coupon'>
                                    <label for='coupon_code'>Ưu đãi:</label>
                                    <input
                                        type='text'
                                        name='coupon_code'
                                        class='input-text'
                                        id='coupon_code'
                                        value=''
                                        placeholder='Mã ưu đãi'
                                    />
                                    <button type='submit' class='button' name='apply_coupon' value='Áp dụng'>Áp dụng</button>
                                </div>

                                <button
                                    type='submit'
                                    class='button'
                                    name='update_cart'
                                    value='Cập nhật giỏ hàng'
                                    disabled=''
                                    hidden='true'
                                    aria-disabled='true'
                                >Cập nhật giỏ hàng</button>

                                <input type='hidden' id='cart-nonce' name='cart-nonce' value='1a20c87b83' />
                                <input type='hidden' name='_wp_http_referer' value='/gio-hang' />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div class='cart-collaterals'>
            <div class='cart_totals'>
                <h2>Cộng giỏ hàng</h2>
                <table cellspacing='0' class='shop_table shop_table_responsive'>
                    <tbody>
                        <tr class='cart-subtotal'>
                            <th>Tạm tính</th>
                            <td data-title='Tạm tính'>
                                <span class='Price-amount amount'>
                                    {{formatCurrency 230000000}}
                                </span>
                            </td>
                        </tr>

                        <tr class='order-total'>
                            <th>Tổng</th>
                            <td data-title='Tổng'>
                                <strong>
                                    <span class='Price-amount amount fs-5 ' id='order-total'>
                                       
                                    </span>
                                </strong>
                                <p class='taxtext'>(Giá chưa bao gồm thuế VAT 10%)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='wc-proceed-to-checkout'>
                    <a href='/thanh-toan' class='checkout-button button alt wc-forward'>XÁC NHẬN ĐẶT HÀNG</a>
                </div>
            </div>
        </div>
        <div class='clearfix'>

        </div>
    </div>
</section>