<section class='section category-section'>
    {{> heading title='Thanh toán' }}
</section>

<section class='section'>
    <div class='container'>
        <form
            name='checkout'
            method='post'
            class='checkout'
            action='https://hhfurniture.com.vn/thanh-toan/'
            novalidate='novalidate'
        >
            <div class='row my-4'>
                <div class='col-md-5 p-0'>
                    <div class='' id='customer_details'>
                        <div class='billing-fields'>
                            <h3>Thông tin thanh toán</h3>
                            <div class='billing-fields__field-wrapper'>
                                <div
                                    class='form-row my-3 px-2 form-row-first validate-required'
                                    id='billing_first_name_field'
                                >
                                    <label for='name' class=''>Họ và tên&nbsp;<abbr
                                            class='required'
                                            title='bắt buộc'
                                        >*</abbr>
                                    </label>
                                    <span class='input-wrapper'>
                                        <input
                                            type='text'
                                            class='input-text'
                                            name='name'
                                            id='name'
                                            placeholder='Họ và tên'
                                            value=''
                                            autocomplete='given-name'
                                        />
                                    </span>
                                </div>
                                <div
                                    class='form-row my-3 px-2 form-row-wide address-field validate-required'
                                    id='billing_address_1_field'
                                >
                                    <label for='address' class=''>Địa chỉ&nbsp;<abbr
                                            class='required'
                                            title='bắt buộc'
                                        >*</abbr>
                                    </label>
                                    <span class='input-wrapper'>
                                        <input
                                            type='text'
                                            class='input-text'
                                            name='address'
                                            id='address'
                                            placeholder='Địa chỉ'
                                            value=''
                                            autocomplete='address-line1'
                                        />
                                    </span>
                                </div>
                                <div
                                    class='form-row my-3 px-2 form-row-wide validate-required validate-phone'
                                    id='billing_phone_field'
                                >
                                    <label for='phone' class=''>Số điện thoại&nbsp;<abbr
                                            class='required'
                                            title='bắt buộc'
                                        >*</abbr>
                                    </label>
                                    <span class='input-wrapper'>
                                        <input
                                            type='tel'
                                            class='input-text'
                                            name='phone'
                                            id='phone'
                                            placeholder=''
                                            value=''
                                            autocomplete='tel'
                                        />
                                    </span>
                                </div>
                                <div
                                    class='form-row my-3 px-2 form-row-wide validate-required validate-email'
                                    id='billing_email_field'
                                >
                                    <label for='email' class=''>Địa chỉ email&nbsp;<abbr
                                            class='required'
                                            title='bắt buộc'
                                        >*</abbr>
                                    </label>
                                    <span class='input-wrapper'>
                                        <input
                                            type='email'
                                            class='input-text'
                                            name='email'
                                            id='email'
                                            placeholder=''
                                            value=''
                                            autocomplete='email'
                                        />
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class='additional-fields'>
                            <div id='my_custom_checkout_field'>
                                <br />
                                <h3>THÔNG TIN HÓA ĐƠN (NẾU CÓ)</h3>
                                <div
                                    class='form-row my-3 px-2 my-field-class form-row-wide'
                                    id='my_field_name_field'
                                    data-priority=''
                                >
                                    <label for='company_name' class=''>Tên công ty&nbsp;
                                    </label>
                                    <span class='input-wrapper'>
                                        <input
                                            type='text'
                                            class='input-text'
                                            name='company_name'
                                            id='company_name'
                                            placeholder=''
                                            value=''
                                        />
                                    </span>
                                </div>
                                <div
                                    class='form-row my-3 px-2 my-field-class form-row-wide'
                                    id='my_field_name1_field'
                                    data-priority=''
                                >
                                    <label for='tax_no' class=''>Mã số thuế&nbsp;
                                    </label>
                                    <span class='input-wrapper'>
                                        <input
                                            type='text'
                                            class='input-text'
                                            name='tax_no'
                                            id='tax_no'
                                            placeholder=''
                                            value=''
                                        />
                                    </span>
                                </div>
                                <div
                                    class='form-row my-3 px-2 my-field-class form-row-wide'
                                    id='my_field_name2_field'
                                    data-priority=''
                                >
                                    <label for='company_adress' class=''>Địa chỉ&nbsp;
                                    </label>
                                    <span class='input-wrapper'>
                                        <input
                                            type='text'
                                            class='input-text'
                                            name='company_adress'
                                            id='company_adress'
                                            placeholder=''
                                            value=''
                                        />
                                    </span>
                                </div>
                            </div>

                            <h3>Thông tin bổ sung</h3>

                            <div class='additional-fields__field-wrapper'>
                                <div class='form-row my-3 px-2 notes' id='order_comments_field' data-priority=''>
                                    <label for='note' class=''>Ghi chú đơn hàng&nbsp;
                                    </label>
                                    <span class='input-wrapper'>
                                        <textarea
                                            name='note'
                                            class='input-text'
                                            id='note'
                                            placeholder='Ghi chú về đơn hàng, ví dụ: thời gian hay chỉ dẫn địa điểm giao hàng chi tiết hơn.'
                                            rows='2'
                                            cols='5'
                                        ></textarea>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class='col-md-1'></div>
                <div class='col-md-6'>
                    <h3 id='order_review_heading'>Đơn hàng của bạn</h3>
                    <div id='order_review' class='checkout-review-order position-relative ' style='border:1px solid var(--orange)'>
                        <div class='table-wrapper' >
                            <table class='shop_table position-relative checkout-review-order-table ' >
                                <thead>
                                    <tr>
                                        <th class='product-thumbnail'>Hình ảnh</th>
                                        <th class='product-name'>Sản phẩm</th>
                                        <th class='product-name'>Số lượng</th>
                                        <th class='product-total'>Tạm tính</th>
                                    </tr>
                                </thead>
                                <tbody id='body-checkout'>
                                    
                                </tbody>
                                <tfoot>

                                    <tr class='cart-subtotal'>
                                        <th>Tạm tính</th>
                                        <td>
                                            <span class='Price-amount amount'>
                                                <bdi>23.160.000<span class='Price-currencySymbol'>đ</span>
                                                </bdi>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class='order-total text-center' >
                                        <th colspan="2" class="fs-3">Tổng hóa đơn</th>
                                        <td  colspan="2">
                                            <strong>
                                            <span class='Price-amount amount fs-5 ' id='order-total'>
                                        
                                                </span>
                                            </strong>
                                            <p class='taxtext text-dark'>(Giá chưa bao gồm thuế VAT 10%)</p>
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                     <div id='payment' class='checkout-payment'>
                            <ul class='wc_payment_methods payment_methods methods'>
                                <li class='wc_payment_method payment_method_bacs'>
                                    <input
                                        id='payment_method_bacs'
                                        type='radio'
                                        class='input-radio'
                                        name='payment_method'
                                        value='bacs'
                                        checked='checked'
                                        aria-expanded='false'
                                        aria-controls='collapseOne'
                                    />
                                    <label for='payment_method_bacs'>
                                        Chuyển khoản ngân hàng
                                    </label>

                                    <div
                                        id='collapseOne'
                                        class='panel-collapse collapses payment_box payment_method_bacs'
                                    >
                                        <p>
                                            <img
                                                src='https://hhfurniture.com.vn/wp-content/uploads/2022/05/b66cd50ff144301a6955.jpg'
                                                width='100%'
                                            />
                                        </p>
                                    </div>
                                </li>
                                <li class='wc_payment_method payment_method_cod'>
                                    <input
                                        id='payment_method_cod'
                                        type='radio'
                                        class='input-radio'
                                        name='payment_method'
                                        value='cod'
                                        aria-expanded='false'
                                        aria-controls='collapseOne'
                                    />
                                    <label for='payment_method_cod'>
                                        Trả tiền mặt khi nhận hàng
                                    </label>
                                    <div class='payment_box payment_method_cod' style='display:none;'>
                                        <p>Trả tiền mặt khi giao hàng</p>
                                    </div>
                                </li>
                            </ul>
                            <div class='form-row place-order text-center'>
                              

                                <input type="button" value="GỬI ĐƠN HÀNG" name="checkout_place_order" class="w-100 text-dark fw-bold button alt send_order">
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    
function formatCurrency(price) {
    if (price) return price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1.') + ' ₫';
    return 'Liên hệ';
}
let bodyCheckout = document.getElementById('body-checkout');
function renderProductToCheckout() {
    shoppingCart = JSON.parse(localStorage.getItem('shopping-cart'));
    let body = '';
    if (shoppingCart) {
        shoppingCart.forEach((item) => {
            item = JSON.parse(item);
            body += ` <tr class='cart-form__cart-item cart_item'>
                                <td class='product-thumbnail' style='width:200px'>
                                    <a
                                        href='/san-pham/${item.product.slug}'
                                    ><img
                                            width='200'
                                            height='200'
                                            src='${item.product.img}'
                                            class='attachment_thumbnail size_thumbnail'
                                            alt='${item.product.title}'
                                        /></a>
                                </td>

                                <td class='product-name' data-title='Sản phẩm'>
                                    <a
                                        href='/san-pham/${item.product.slug}'
                                    >${item.product.title}</a><dl class='variation'>
                                        <dt class='fs-6 d-inline-block text-light variation-ChtLiu'>Chất Liệu:</dt>
                                        <dd class='fs-6 d-inline-block variation-ChtLiu'><p>${item.product.material}</p>
                                        </dd>
                                        <br />
                                        <dt class='fs-6 d-inline-block text-light variation-KchThc'>Kích Thước:</dt>
                                        <dd class='fs-6 d-inline-block variation-KchThc'><p>${item.product.size}</p>
                                        </dd>
                                        <br />
                                        <dt class='fs-6 d-inline-block text-light variation-MuSc'>Màu Sắc:</dt>
                                        <dd class='fs-6 d-inline-block variation-MuSc'><p>${item.product.color}</p>
                                        </dd>
                                        <br />
                                    </dl>
                                </td>

                                 <td class='product-quantity text-center' style="min-width:10px">
                                    ${item.quantity}
                                    
                                </td>
                                <td class='product-price' data-title='Giá' style="min-width: 110px;}">
                                    `;
            if (item.rate > 0) {
                body += `
                                    <span class='giathuong'>Giá niêm yết: </span>
                                    <del>
                                        <span class='Price-amount amount text-light'>
                                            ${formatCurrency(item.price)}
                                        </span></del>
                                    <br />
                                    <span class='giathuong'>Giảm: </span>
                                    <span class='Price-amount amount fs-5'>
                                        ${item.rate}%
                                    </span>
                                    <br />
                                    <br />
                                    <span class='giathuong'>Giá khuyến mãi: </span>
                                    <span class='Price-amount amount fs-5'>
                                        ${formatCurrency(item.discount)}
                                    </span>`;
            } else {
                body += `<span class='Price-amount amount'>
                                        <span class='Price-amount amount fs-5'>
                                            ${formatCurrency(item.price)}
                                        </span>
                                    </span>`;
            }
            body += `        
                                </td>
                            </tr>`;
            bodyCheckout.innerHTML = body;
        });
    }
}
renderProductToCheckout();

function renderTotalPrice() {
    let total = 0;

    let tmp = shoppingCart.map((item) => {
        item = JSON.parse(item);
        if (item.discount > 0) {
            return parseInt(item.discount) * parseInt(item.quantity);
        } else {
            return parseInt(item.price) * parseInt(item.quantity);
        }
    });
    total = tmp.reduce((acc, item) => {
        return acc + item;
    }, 0);

    let totalPrice = document.getElementById('order-total');
    return (totalPrice.innerText = formatCurrency(total));
}
renderTotalPrice();


</script>