{{> videoHero}}

<section class='section section-1 d-flex flex-wrap' data-aos='fade-right'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 mb-2'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>
                                    <figure class='image-box-img'>
                                        <a href='https://hhfurniture.com.vn/chinh-sach-giao-hang/'>
                                            <img
                                                width='511'
                                                height='488'
                                                src='/images/9a1ec57de13620687927-removebg-preview.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            />
                                        </a>

                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>
                                            <a href='https://hhfurniture.com.vn/chinh-sach-giao-hang/'>Giao hàng nhanh
                                                chóng
                                            </a>
                                        </h3>
                                        <p class='image-box-description'>Miễn Phí Ship KV TP.HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-3 mb-2'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'><a
                                            href='https://hhfurniture.com.vn/chinh-sach-bao-hanh/'
                                        >
                                            <img
                                                width='100'
                                                height='109'
                                                src='/images/guaranteed-icon.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            /></a>
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'><a
                                                href='https://hhfurniture.com.vn/chinh-sach-bao-hanh/'
                                            >cam kết</a></h3><p class='image-box-description'>Đổi trả - Bảo hành</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-3 mb-2'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'>
                                        <img
                                            width='485'
                                            height='486'
                                            src='/images/ba6fc00ce44725197c56-removebg-preview.png'
                                            class='attachment-full size-full'
                                            alt=''
                                        />
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>dịch vụ khách hàng</h3><p
                                            class='image-box-description'
                                        >tận tâm - chuyên nghiệp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-3 mb-2'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'><a
                                            href='https://hhfurniture.com.vn/chinh-sach-tra-gop/'
                                        >
                                            <img
                                                width='500'
                                                height='500'
                                                src='/images/e7938cf0a8bb69e530aa-removebg-preview.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            />
                                        </a>
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>
                                            <a href='https://hhfurniture.com.vn/chinh-sach-tra-gop/'>hỗ trợ trả góp
                                            </a>
                                        </h3>
                                        <p class='image-box-description'>lãi suất 0%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>slideProductPartials  introduce.doNoiThat href='do-noi-that' isHome=true lsProduct=lsProductDoNoiThat}}
{{>slideProductPartials  introduce.thietBiVeSinh href='thiet-bi-ve-sinh' isHome=true lsProduct=lsProductThietBiVeSinh}}
{{>slideProductPartials  introduce.denTrangTri href='den-trang-tri' isHome=true lsProduct=lsProductDenTrangTri}}
{{>slideProductPartials  introduce.doTrangTri href='do-trang-tri' isHome=true lsProduct=lsProductDoTrangTri}}

<section class='section section-chanel' data-aos='fade-up'>
    {{> heading title="H & H CHANEL"}}

    <div class='element widget widget-heading'>
        <div class='widget-container'>
            <h4 class='heading-title size-default'>“Đồng hành cùng bạn sáng tạo không gian sống mơ ước.”</h4>
        </div>
    </div>

    <div class='element widget widget-image'>
        <div class='widget-container'>
            <div class='image'>
                <a href='https://www.youtube.com/channel/UCEKyC_cTyvU1kzI02fGrnhg'>
                    <img
                        width='357'
                        height='110'
                        src='/images/dang-ky-youtube.png'
                        class='attachment-large size-large'
                        alt=''
                    />
                </a>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class='col-md-4'>
                <div class='widget-wrap'>
                    <div class='wrapper fit-aspect-ratio open-inline'>
                        <iframe
                            class='video'
                            frameborder='0'
                            allowfullscreen='1'
                            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                            title='Giới Thiệu HH'
                            width='640'
                            height='500px'
                            src='https://www.youtube.com/embed/UiXBmCJ1vOQ?controls=1&amp;rel=0&amp;playsinline=1&amp;modestbranding=1&amp;autoplay=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fhhfurniture.com.vn&amp;widgetid=1'
                            id='widget2'
                        ></iframe>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='widget-wrap'>
                    <div class='wrapper fit-aspect-ratio open-inline'>
                        <iframe
                            class='video'
                            frameborder='0'
                            allowfullscreen='1'
                            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                            title='Giới Thiệu HH'
                            width='640'
                            height='500px'
                            src='https://www.youtube.com/embed/UiXBmCJ1vOQ?controls=1&amp;rel=0&amp;playsinline=1&amp;modestbranding=1&amp;autoplay=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fhhfurniture.com.vn&amp;widgetid=1'
                            id='widget2'
                        ></iframe>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='widget-wrap'>
                    <div class='wrapper fit-aspect-ratio open-inline'>
                        <iframe
                            class='video'
                            frameborder='0'
                            allowfullscreen='1'
                            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                            title='Giới Thiệu HH'
                            width='640'
                            height='500px'
                            src='https://www.youtube.com/embed/UiXBmCJ1vOQ?controls=1&amp;rel=0&amp;playsinline=1&amp;modestbranding=1&amp;autoplay=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fhhfurniture.com.vn&amp;widgetid=1'
                            id='widget2'
                        ></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class='section section-quytrinh' data-aos='fade-up'>
    {{> heading title="QUY TRÌNH BÁN HÀNG" }}

    <div class='container'>
        <div class='row row text-center'>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='782'
                            src='/images/1-1008x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='782'
                            src='/images/2-1008x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='782'
                            src='/images/3-1008x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='970'
                            src='/images/4-813x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='970'
                            src='/images/5-813x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='970'
                            src='/images/6-813x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section section-khachhang' data-aos='fade-up'>
    {{> heading title="KHÁCH HÀNG NÓI VỀ H & H" }}
    <div class='container'>
        <div class='swiper-container'>
            <div class='swiper-wrapper'>
                <!-- Slides -->
                <div class='swiper-slide'>
                    <div class='testimonial'>
                        <div class='testimonial__content'>
                            <div class='testimonial__text'>
                                “H &amp; H Furniture là lựa chọn số 1 của chúng tôi trong ngành nội thất.”
                            </div>
                            <cite class='testimonial__cite'><span class='testimonial__name'>Mr. Ngọc Thạch</span><span
                                    class='testimonial__title'
                                >- CEO Công ty ABC -</span></cite>
                        </div>
                        <div class='testimonial__footer'>
                            <div class='testimonial__image'>
                                <img
                                    src='https://hhfurniture.com.vn/wp-content/uploads/2020/12/mr-thach.png'
                                    alt='Mr. Ngọc Thạch'
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class='testimonial'>
                        <div class='testimonial__content'>
                            <div class='testimonial__text'>
                                “H &amp; H Furniture là lựa chọn số 1 của chúng tôi trong ngành nội thất.”
                            </div>
                            <cite class='testimonial__cite'><span class='testimonial__name'>Mr. Ngọc Thạch</span><span
                                    class='testimonial__title'
                                >- CEO Công ty ABC -</span></cite>
                        </div>
                        <div class='testimonial__footer'>
                            <div class='testimonial__image'>
                                <img
                                    src='https://hhfurniture.com.vn/wp-content/uploads/2020/12/mr-thach.png'
                                    alt='Mr. Ngọc Thạch'
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class='testimonial'>
                        <div class='testimonial__content'>
                            <div class='testimonial__text'>
                                “H &amp; H Furniture là lựa chọn số 1 của chúng tôi trong ngành nội thất.”
                            </div>
                            <cite class='testimonial__cite'><span class='testimonial__name'>Mr. Ngọc Thạch</span><span
                                    class='testimonial__title'
                                >- CEO Công ty ABC -</span></cite>
                        </div>
                        <div class='testimonial__footer'>
                            <div class='testimonial__image'>
                                <img
                                    src='https://hhfurniture.com.vn/wp-content/uploads/2020/12/mr-thach.png'
                                    alt='Mr. Ngọc Thạch'
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nếu cần pagination -->
            <div class='swiper-pagination swiper-pagination-clickable swiper-pagination-bullets'><span
                    class='swiper-pagination-bullet'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 1'
                ></span><span
                    class='swiper-pagination-bullet swiper-pagination-bullet-active'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 2'
                ></span></div>

            <!-- Nếu cần navigation -->
            <div class='swiper-button swiper-button-prev' tabindex='0' role='button' aria-label='Previous slide'>
                <i class='fa fa-chevron-left'></i>
                <span class='screen-only'>Previous</span>
            </div>
            <div class='swiper-button swiper-button-next' tabindex='0' role='button' aria-label='Next slide'>
                <i class='fa fa-chevron-right'></i>
                <span class='screen-only'>Next</span>
            </div>

            <!-- Nếu cần scrollbar -->
            <div class='swiper-scrollbar'></div>
        </div>
    </div>
</section>

<section class='section section-doitac' data-aos='fade-up'>
    {{> heading title="ĐỐI TÁC CỦA H & H" }}
    <div class='container'>
        <div
            class='image-carousel-wrapper swiper-container-doitac swiper-container-initialized swiper-container-horizontal'
        >
            <div
                class='image-carousel swiper-wrapper swiper-image-stretch'
                style='transition-duration: 0ms; transform: translate3d(-2810.25px, 0px, 0px);'
            >
                {{#each doitacs}}
                    <div class='swiper-slide' style='width: 106.125px; margin-right: 50px;'>
                        <img class='swiper-slide-image' src='{{src}}' alt='{{alt}}' />
                    </div>
                {{/each}}
            </div>

            <div class='swiper-pagination swiper-pagination-clickable swiper-pagination-bullets'><span
                    class='swiper-pagination-bullet'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 1'
                ></span><span
                    class='swiper-pagination-bullet swiper-pagination-bullet-active'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 2'
                ></span></div>

            <!-- Nếu cần navigation -->
            <div class='swiper-button swiper-button-prev' tabindex='0' role='button' aria-label='Previous slide'>
                <i class='fa fa-chevron-left'></i>
                <span class='screen-only'>Previous</span>
            </div>
            <div class='swiper-button swiper-button-next' tabindex='0' role='button' aria-label='Next slide'>
                <i class='fa fa-chevron-right'></i>
                <span class='screen-only'>Next</span>
            </div>
            <!-- Nếu cần scrollbar -->
            <div class='swiper-scrollbar'></div>
        </div>
    </div>
</section>

<section class='section section-contact' data-aos='fade-up'>
    {{> heading title="LIÊN HỆ NGAY HÔM NAY" }}
    {{> contactPartials}}
</section>

<section class='section section-posts ' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 px-3'>
                <div class='widget-wrap'>
                    <div
                        class='element grid-1 posts--thumbnail-left widget__width-initial grid-tablet-1 grid-mobile-1 widget widget-posts'
                    >
                        <div class='element widget widget-heading heading-title-arround'>
                            <h2 class='heading-title size-default'>BẢN TIN H &amp; H</h2>
                        </div>
                        <div class='widget-container'>
                            <div class='posts-container posts posts--skin-classic grid has-item-ratio'>
                                {{#each lsPostNews}}
                                    {{> postPartials}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-6 px-3'>
                <div class='widget-wrap'>
                    <div
                        class='element grid-1 posts--thumbnail-left widget__width-initial grid-tablet-1 grid-mobile-1 widget widget-posts'
                    >
                        <div class='element widget widget-heading heading-title-arround'>
                            <h2 class='heading-title size-default'>DỰ ÁN H &amp; H</h2>
                        </div>
                        <div class='widget-container'>
                            <div class='posts-container posts posts--skin-classic grid has-item-ratio'>
                                {{#each lsPostProject}}
                                    {{> postPartials}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>