<section class='section category-section' data-aos='fade-up'>
    {{!-- {{> heading title='GIỚI THIỆU' }} --}}
</section>

<section class='section introduction-section'>

    <div class='container'>
        <div class='row'>
            <div class='col-md-12 text-center' data-aos='fade-up'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2021/03/hh-furniture-gioi-thieu-1024x728.jpg'
                    class='w-100 attachment-large size-large'
                    alt=''
                />
            </div>
            <div class='col-md-12 mt-5' data-aos='fade-up'>
                <div class='text-editor clearfix'>
                    <p class='mb-3 MsoNormal' style='text-align: left;'><span style='font-size: 13.0pt;  '>Với hơn 10
                            năm kinh nghiệm trong ngành xuất nhập khẩu các thiết bị trang trí nội thất,
                            <b>CÔNG TY </b><b>TNHH TRANG TRÍ NỘI THẤT H&amp;H </b>tự hào khi<b> </b>đã, đang và sẽ tiếp
                            tục mang đến những sản phẩm chất lượng, mẫu mã đa dạng, cùng nhiều tiện ích ngày càng nâng
                            tầm nội thất, thiết bị cho người dùng Việt. Khách hàng đến với H&amp;H là những người đam mê
                            cái đẹp có thẩm mỹ cao, yêu thích sự sang trọng đẳng cấp hoặc tiện nghi thoải mái. Mỗi một
                            sản phẩm của H&amp;H đều được trải qua quá trình lựa chọn, đánh giá tỉ mỉ, có phong cách
                            thiết kế, tính năng riêng, mang lại cảm giác thoải mái, được thư giãn, góp phần nâng cao
                            trải nghiệm cuộc sống, dành được sự yêu thích, tin tưởng của Khách<br
                            />hàng.&nbsp;&nbsp;</span></p><p class='mb-3 MsoNormal' style='text-align: left;'><span
                            style=' font-size: 13pt; font-weight: var( --e-global-typography-text-font-weight );'
                        >Vì lẽ đó, </span><b style=' font-size: 13pt;'>H&amp;H</b><span
                            style=' font-size: 13pt; font-weight: var( --e-global-typography-text-font-weight );'
                        >
                            mong muốn là đơn vị đồng hành như một người bạn hiểu rõ nhu cầu và nắm bắt sở thích của từng
                            Khách hàng. Cùng Khách hàng sáng tạo nên những không gian sống riêng biệt mang màu sắc của
                            từng cá nhân.</span></p><p class='mb-3 MsoNormal'><span style='font-size: 13.0pt;  '>H&amp;H
                            CÓ 4 NHÓM SẢN PHẨM:</span></p><p
                        class='MsoListParagraphCxSpFirst'
                        style='mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .25in; mso-add-space: auto; text-indent: -.25in; mso-list: l0 level1 lfo1;'
                    ><!-- [if !supportLists]--><span
                            style='font-size: 13.0pt;  font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings;'
                        >Ø<span
                                style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';"
                            >&nbsp; </span></span><!--[endif]--><span style='font-size: 13.0pt;  '>Đồ nội thất cổ điển,
                            tân cổ điển; Đồ nội thất hiện đại thông minh
                        </span></p><p
                        class='MsoListParagraphCxSpMiddle'
                        style='mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .25in; mso-add-space: auto; text-indent: -.25in; mso-list: l0 level1 lfo1;'
                    ><!-- [if !supportLists]--><span
                            style='font-size: 13.0pt;  font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings;'
                        >Ø<span
                                style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';"
                            >&nbsp; </span></span><!--[endif]--><span style='font-size: 13.0pt;  '>Thiết bị vệ sinh mạ
                            vàng tân cổ điển; Thiết bị vệ sinh hiện đại TOCEI</span></p><p
                        class='MsoListParagraphCxSpMiddle'
                        style='mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .25in; mso-add-space: auto; text-indent: -.25in; mso-list: l0 level1 lfo1;'
                    ><!-- [if !supportLists]--><span
                            style='font-size: 13.0pt;  font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings;'
                        >Ø<span
                                style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';"
                            >&nbsp; </span></span><!--[endif]--><span style='font-size: 13.0pt;  '>Đèn trang trí</span></p><p
                        class='mb-3 MsoListParagraphCxSpLast'
                        style='mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .25in; mso-add-space: auto; text-indent: -.25in; mso-list: l0 level1 lfo1;'
                    ><!-- [if !supportLists]--><span
                            style='font-size: 13.0pt;  font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings;'
                        >Ø<span
                                style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';"
                            >&nbsp; </span></span><!--[endif]--><span style='font-size: 13.0pt;  '>Đồ trang trí</span></p><p
                        class='MsoNormal'
                    ><span style='font-size: 13.0pt;  '>Chúng tôi luôn cố gắng nổ lực học hỏi, sáng tạo, bắt kịp các xu
                            hướng mới, hòa nhịp vào dòng chảy thời trang nội thất một cách tinh tế để mang đến cho Khách
                            hàng những sản phẩm chất lượng và có tính thẩm mỹ cao.&nbsp;</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id='itemPageWrap' class='itemPageWrap' data-aos='fade-left'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-4 item' style='visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);'>
                <div style='height: 700px;'>
                    <h3>Sứ mệnh</h3>
                    <ul>
                        <li>
                            Dịch vụ chuyên nghiệp, thương hiệu uy tín với trọng tâm là Khách hàng

                        </li>
                        <li>
                            Tư vấn Khách hàng sử dụng nội thất đẹp sang, tiện lợi với chi phí hợp lý
                        </li>
                        <li>
                            Thúc đẩy kinh doanh bền vững, tăng trưởng doanh thu qua các năm
                        </li>
                        <li>
                            Gia tăng giá trị cho Khách hàng và Đối tác
                        </li>
                        <li>
                            Luôn đồng hành hỗ trợ, tạo môi trường kinh doanh lành mạnh cùng phát triển
                        </li>
                        <li>
                            Tạo điều kiện, việc làm cho người lao động và là niềm tự hào của tập thể nhân viên
                        </li>
                        <li>
                            Hoạt động kinh doanh trong quy chuẩn pháp luật và đạo đức, luôn hướng về cộng đồng và người
                            dân Việt Nam
                        </li>
                    </ul>
                </div>
            </div>
            <div class='col-md-4 item' style='visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);'>
                <div style='height: 700px;'>
                    <h3>Tầm nhìn</h3>
                    <p>
                        Công Ty TNHH TRANG TRÍ NỘI THẤT H&H phấn đấu trở thành một trong những đơn vị cung cấp thiết bị
                        trang trí nội thất, thiết bị vệ sinh chất lượng. Là thương hiệu uy tín dẫn đầu thị trường.</p>
                </div>
            </div>
            <div class='col-md-4 item' style='visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);'>
                <div style='height: 700px;'>
                    <h3>Gía trị cốt lõi</h3>
                    <ul>
                        <li><strong>Sự Tận Tâm – Chuyên Nghiệp:</strong>
                            Hiểu rõ các quy định, nắm vững kiến thức chuyên môn về sản phẩm và nghiệp vụ để tư vấn đúng,
                            đáp ứng tốt nhất nhu cầu của Khách Hàng. Tôn trọng công việc, làm tròn trách nhiệm với tinh
                            thần luôn luôn cố gắng, kiên trì và sự tận tâm – chuyên nghiệp nhất.</li>
                        <li>
                            <strong>
                                Sự Sáng Tạo:
                            </strong>
                            Nổ lực học hỏi các kiến thức mới, thúc đẩy sự sáng tạo, cải tiến trong công việc để nâng cao
                            hiệu quả, mang đến những sản phẩm chất lượng, dịch vụ chuyên nghiệp vì lợi ích tối ưu, phục
                            vụ Khách Hàng.
                        </li>
                        <li>
                            <strong>
                                Sự Chủ Động:
                            </strong>
                            Luôn luôn chủ động trong mọi việc từ suy nghĩ đến hành động để đạt được mục tiêu và kế hoạch
                            đề ra. Các cá nhân cùng doanh nghiệp hợp thành một tổ chức đoàn kết, thống nhất cùng nhau
                            xây dựng, ngày càng phát triển vững mạnh.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>