<section class='section category-section' data-aos='fade-up'>
    {{> heading title=policy.title }}
</section>
<section class="section">
    <div class="container">
        {{{policy.content}}}
    </div>
</section>