<div class='widget-container'>
    <video width='100%' height='auto' playsinline='' muted='' autoplay='' loop=''>
        <source src='https://hhfurniture.com.vn/wp-content/uploads/2021/01/demo-furniture.mp4' type='video/mp4' />
    </video>
</div>

<section class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'>
                                        <a href='https://hhfurniture.com.vn/chinh-sach-giao-hang/'><img
                                                width='511'
                                                height='488'
                                                src='images/9a1ec57de13620687927-removebg-preview.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            />
                                        </a>

                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>
                                            <a href='https://hhfurniture.com.vn/chinh-sach-giao-hang/'>Giao hàng nhanh
                                                chóng
                                            </a>
                                        </h3>
                                        <p class='image-box-description'>Miễn Phí Ship KV TP.HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>
                                    <figure class='image-box-img'><a
                                            href='https://hhfurniture.com.vn/chinh-sach-bao-hanh/'
                                        ><img
                                                width='100'
                                                height='109'
                                                src='images/guaranteed-icon.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            /></a>
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'><a
                                                href='https://hhfurniture.com.vn/chinh-sach-bao-hanh/'
                                            >cam kết</a></h3><p class='image-box-description'>Đổi trả - Bảo hành</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>
                                    <figure class='image-box-img'><img
                                            width='485'
                                            height='486'
                                            src='images/ba6fc00ce44725197c56-removebg-preview.png'
                                            class='attachment-full size-full'
                                            alt=''
                                        />
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>dịch vụ khách hàng</h3><p
                                            class='image-box-description'
                                        >tận tâm - chuyên nghiệp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>
                                    <figure class='image-box-img'><a
                                            href='https://hhfurniture.com.vn/chinh-sach-tra-gop/'
                                        >
                                            <img
                                                width='500'
                                                height='500'
                                                src='images/e7938cf0a8bb69e530aa-removebg-preview.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            />
                                        </a>
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>
                                            <a href='https://hhfurniture.com.vn/chinh-sach-tra-gop/'>hỗ trợ trả góp
                                            </a>
                                        </h3>
                                        <p class='image-box-description'>lãi suất 0%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section'>

</section>