{{!-- Body: start --}}
{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow'>
                <div class='card-header d-flex justify-content-between'>
                    <h4>{{pageName}}</h4>
                    <a type="button" href="/admin/news/storage" class="btn btn-secondary">Trở lại</a>
                </div>
                <div class='card-body'>
                    <form class="form" enctype="multipart/form-data" method="POST">
                        <fieldset>

                            <div class="form-group">
                                <label class="control-label text-uppercase" for="title">TIÊU ĐỀ TIN TỨC<span style="color:red">*</span></label>
                                <input id="title" name="title" placeholder="Tiêu đề tin tức"
                                    class="form-control" required="" type="text">
                            </div>

                            <div class="form-group">
                                <label class="control-label text-uppercase" for="new-imgs">HÌNH ẢNH TIN TỨC<span style="color:red">*</span></label>
                                <div class="form-group-container">
                                    <input id="new-imgs" accept="image/*" required="" name="news"
                                        class="form-control-file" onchange="preview()" type="file">
                                    <p id="num-of-file">Chưa có ảnh nào được chọn</p>
                                    <div id="images-upload">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-uppercase" for="description">Mô tả tin tức</label> <br>
                                <textarea id="description" class="p-2" name="description" style="width: 100%; height: 100px;"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-uppercase" for="content">Nội dung tin tức</label>
                                <textarea id="content" name="content" class="ckeditor"></textarea>
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-success">Thêm tin tức</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let fileInput = document.getElementById("new-imgs")
    let imageContainer = document.getElementById('images-upload')
    let numOfFiles = document.getElementById('num-of-file')
    function preview() {
        imageContainer.innerHTML = ""
        numOfFiles.textContent = `${fileInput.files.length} ảnh đã được chọn`;
        for (i of fileInput.files) {
            let reader = new FileReader()
            let figure = document.createElement("figure")
            let figCap = document.createElement("figcaption")
            figCap.innerText = i.name
            figure.appendChild(figCap)
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                img.setAttribute("width", '50%');
                figure.insertBefore(img, figCap);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i)
        }
    }
    CKEDITOR.replace('content', {
        extraPlugins: 'filebrowser, youtube',
        filebrowserUploadUrl: '/admin/news/upload',
        filebrowserUploadMethod: 'form',
        filebrowserBrowseUrl: '/cke_uploads',
    })


</script>