@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}

:root {
    --background: #020202;
    --green: #7ad03a;
    --red: #a00;
    --orange: #ffba00;
    --yellow: #f1c40f;
    --blue: #2ea2cc;
    --primary: #a46497;
    --primary-text: white;
    --secondary: #ebe9eb;
    --secondary-text: #515151;
    --highlight: #77a464;
    --highligh-text: white;
    --content-bg: #fff;
    --subtext: #767676;

    --e-global-color-primary: #6ec1e4;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-typography-primary-font-family: 'Petrona';
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: 'Petrona';
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: 'Petrona';
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: 'Roboto';
    --e-global-typography-accent-font-weight: 500;
    --e-icon-list-icon-size: 30px;
}
.element {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 14px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}
.screen-only {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.section {
    margin-top: 50px;
}

.chose {
    color: white;
}

.product-detail-item .ui-selected a {
    color: var(--background) !important;
    background-color: #ffffff;
}
body {
    background-color: var(--background);
    color: #ffffff;
    line-height: 1.5;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5;

    font-family: 'Petrona', 'sans-serif';
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* header */

.header {
    background-color: var(--background) !important;
}
.header .header-container {
}
.header .header-container .logo-container {
    margin: -15px 0px 0px 0px;
    width: 14.061%;
}
.header .header-container .logo-container .logo-img {
    vertical-align: middle;
    width: 82%;
}

/* Subcategory  */
.sub-category {
}
.sub-category ul {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.sub-category ul li {
    padding: 0 10px;
}
.sub-category ul li h3 {
    color: var(--orange);
    font-family: 'Petrona, Sans-serif';
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline;
}
.sub-category ul li img {
    width: 29px;
    max-width: 36px;
}

/* Search */
.search-container {
}
.search-form {
    display: block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.search-form__container {
    border-radius: 3px;
    min-height: 32px;
    background: #eceeef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    overflow: hidden;
    border: 0 solid transparent;
    justify-content: space-between;
}
.search-form__container input {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: calc(32px / 3);
    padding-right: calc(32px / 3);
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    -webkit-appearance: none;
    line-height: 1;
    min-width: 0;
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text);
    width: 100%;
    border: none;
    outline-offset: -2px;
    outline: none;
}
.search-form__container button {
    min-width: 32px;
    --e-search-form-submit-text-color: #aeaeae;
    background-color: #00000000;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-search-form-submit-text-color, #fff);
    border: none;
    border-radius: 0;
    outline: none;
}
.search-form__container button span {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Menu  */

.menu_container li.menu_item {
    margin-right: 0px !important;
    padding: 0px;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}
.menu_container li.menu_item a {
    color: var(--orange);
    fill: var(--orange);
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 13px 20px;
    font-family: var(--e-global-typography-primary-font-family);
    display: flex;
    flex-direction: row;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.menu_container li.menu_item a:after {
    content: '';
    bottom: 0;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: #fda702;
    z-index: 2;
    display: block;
    position: absolute;
    transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
    transition: 0.3s;
}
.menu_container li.menu_item a:not(:hover):not(:focus):not(.item-active):not(.highlighted):after {
    opacity: 0;
}

.menu_container li.menu_item a .sub-arrow {
    line-height: 1;
    padding: 10px 0 10px 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu_container .hot-img {
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 5px;
    right: -35px;
}

.menu_container .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    padding: 0px;
}
.menu_container .dropdown-menu .dropdown-item,
.menu_container .submenu .dropdown-item {
    color: black;
    font-size: 14px;
    text-transform: capitalize;
}
.menu_container .dropdown-menu .dropdown-item:hover,
.menu_container .submenu .dropdown-item:hover {
    background-color: var(--orange);
    color: white;
}

/* cart  */

.cart-container {
    display: flex;
    padding: 10px;
    position: relative;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    height: 100%;
}

.cart-container .cart-contents {
    position: relative;
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 20px;
    text-decoration: none;
}
.cart-container .cart-heading {
    text-align: center;
    color: var(--orange);
    font-size: 12px;
    font-weight: 600;
    font-family: var(--e-global-typography-primary-font-family);
}
.cart-container .cart-contents i {
    font-size: 30px;
    color: var(--orange);
    position: relative;
}
.cart-container .cart-contents i span {
    font-size: 10px;
}

/* phone */

.phone-container {
    padding: 5px 5px 5px 5px;
    background-color: #fda702;
    border-radius: 10px 10px 10px 10px;
}
.phone-container ul {
    list-style: none;
}
.phone-container ul li a {
    color: #020202;
    text-decoration: none;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.phone-container ul li a .icon-list-text {
    padding-left: 5px;
    font-family: 'Petrona', serif !important;
}

/* Footer */
p {
    line-height: 1.6;
}
@media (min-width: 768px) {
    .map.map-height-two iframe {
        height: 551px;
    }
}
.footer {
    background: #000000;
    padding: 60px 0;
    position: relative;
    color: #adb5bd;
}
.footer .element {
    color: #757575;
    font-family: 'Roboto', Sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer .element .heading-title {
    color: var(--orange);
    font-family: 'Patreno, Sans-serif';
    font-size: 14px;
    font-weight: 600;
}
.footer .widget:not(:last-child) {
    margin-bottom: 20px;
}

.footer .widget .icon-list-item,
.widget .icon-list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: inherit;
}

.footer .widget .icon-list-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.element {
    --e-icon-list-icon-size: 14px;
}
.footer .element .icon-list-icon i {
    color: #757575;
    width: 1.25em;
    font-size: var(--e-icon-list-icon-size);
}

.footer .form-fields-wrapper {
    margin-left: calc(-10px / 2);
    margin-right: calc(-10px / 2);
    margin-bottom: -10px;
}
.footer .form-fields-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .field-group {
    width: 100%;
    padding-right: calc(10px / 2);
    padding-left: calc(10px / 2);
    margin-bottom: 10px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer .field-group .button:hover {
    color: #fff;
}
.footer .widget-form .field-group > label,
.widget-form .field-subgroup label {
    color: var(--e-global-color-text);
}
.field-label {
    cursor: pointer;
}

.footer .field-group:not(.field-type-upload) .field:not(.select-wrapper) {
    background-color: #ffffff00;
    border-color: #757575;
    border-width: 0px 0px 3px 0px;
}

.footer .field-group .field,
.widget-form .field-subgroup label {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    outline: none;
}

.footer .field-group .field-textual {
    width: 100%;
    max-width: 100%;
    border: 1px solid #818a91;
    background-color: transparent;
    color: #373a3c;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 1.4;
    font-size: 15px;
    min-height: 40px;
    outline: none;
}
.footer .button[type='submit'] {
    background-color: #61ce7000;
    color: #757575;
}
.footer .element .button {
    font-family: 'Roboto', Sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.footer .button-align-stretch .field-type-submit:not(.e-form__buttons__wrapper) .button {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.footer .element .social-icon {
    background-color: #ffffff00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #757575;
}
.footer .shape-circle .icon.social-icon {
    border-radius: 50%;
}
.footer .social-icon:last-child {
    margin: 0;
}
.footer .icon.social-icon {
    font-size: var(--icon-size, 25px);
    line-height: var(--icon-size, 25px);
    width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));
    height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));
}
.footer .social-icon {
    --e-social-icon-icon-color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #818a91;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.footer .icon {
    line-height: 1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #818a91;
    font-size: 50px;
    text-align: center;
}
.footer .social-icon i {
    color: #757575;
    text-align: center;
    cursor: pointer;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-decoration: none;
}
.footer .icon i,
.icon svg {
    width: 1em;
    height: 1em;
    position: relative;
}

.footer .icon i:before,
.footer .icon svg:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer .element img {
    width: 50%;
}
.footer .widget-image img {
    vertical-align: middle;
    display: inline-block;
}
.footer img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* footer */

/* video */
.widget {
    position: relative;
}
.widget-container {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

/* img box */

.widget-wrap {
    padding: 10px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.box-img {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #fda702;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0% 15% 0% 15%;
    --e-column-margin-right: 15%;
    --e-column-margin-left: 15%;
    border-radius: 10% 10% 10% 10%;
    height: 100%;
}
.widget-wrap > .element {
    width: 100%;
}
.widget-wrap .widget-container .image-box-wrapper {
    text-align: center;
}
.widget-wrap .widget-container .image-box-wrapper .image-box-img {
    width: 35%;
    margin: 12px auto;
}
.widget-wrap .widget-container .image-box-wrapper .image-box-img img {
    transition-duration: 0.3s;
}
.image-box-content {
    width: 100%;
}
.image-box-title {
    margin-bottom: 9px;
    color: var(--orange);
    font-family: 'Roboto', Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.image-box-title a {
    color: var(--orange);
}
.image-box-description {
    color: #ffffff;

    font-family: 'Petrona, Sans-serif';
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

/* section-donoithat  */

.heading-title-arround {
    margin: 0px 0px 0px 0px;
    padding: 7px 0px 7px 0px;
    background-color: #fda702;
    border-style: solid;
    border-width: 0px 0px 0px 8px;
    border-color: #f26522;
    text-align: center;
    margin-bottom: 20px;
}
.heading-title-arround .heading-title {
    color: #000000;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Petrona,Sans-serif';
}

.section-donoithat {
}

.section-donoithat .text-editor a,
.introduction-section .text-editor p {
    color: #d9d9d9;
    font-family: 'Petrona, Sans-serif';
    font-weight: 400;
}
.text-editor a {
    color: #757575;
}
.text-editor p {
    color: #d9d9d9;
    line-height: 1.5em;
}

/* carousel */

.owl-carousel {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.owl-carousel .item {
    font-size: 30px;
    text-align: center;
    padding: 40px 20px;
    line-height: 2;
    font-weight: 700;
    background-color: #eee;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    font-size: 100px;
    line-height: 0;
    color: var(--orange);
}

.owl-carousel .owl-nav button.owl-prev {
    left: -50px;
}
.owl-carousel .owl-nav button.owl-next {
    right: -50px;
}
.owl-carousel .owl-nav {
    margin: 0;
}
.btn-wrap {
    text-align: center;
    width: 100%;
}

/* product */
.products__item {
    position: relative;
    min-height: 1px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: calc(100% / var(--columns));
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / var(--columns));
    flex: 0 0 calc(100% / var(--columns));
}
.products .products__inner-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.products .products__inner-box .product-price {
    font-size: 16px;
    font-weight: 700;
    color: #fda702;
    text-align: center;
    display: inline-block !important;
    height: 40px;
    overflow: hidden;
    font-family: 'Petrona, serif' !important;
}

.products .product-thumbnail {
    position: relative;
    text-align: center;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.products .product-thumbnail img {
    width: 100%;
    vertical-align: middle;
}
.product-thumbnail img {
    display: block;
    transition: 0.3s ease-in-out;
}

.products .product-img-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.products .product-title {
    text-align: center;
    margin: 5px 0px 0px 0px;
    order: 1;
    padding: 0px 10px 0px 10px;
}
.products .product-title,
.products .product-title a {
    font-family: 'Petrona, serif' !important;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.3em;
    color: #ffffff;
}
.product-button {
    text-align: center;
    order: 1;
}

.products .product-button {
    margin: 10px 0 10px 0;
}
.products .product-button .button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #fda702;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Petrona, serif' !important;
}
.products .product-button .button:hover {
    background-color: var(--orange);
    color: #000000;
}
.products .product-thumbnail img {
    margin: 5px;
}
.products .product-thumbnail img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    transition-timing-function: ease-in;
    transition: 1.5s;
}

/* list video */
.section-chanel .widget-wrap {
    border: 1px solid var(--bs-yellow);
}
.wrapper {
    padding: 10px;
}
.section .widget-container {
    margin-bottom: 20px;
    background-position: center center;
    background-repeat: no-repeat;
}
.heading-title-chanel {
    color: #000000;
    font-family: 'UVN May Chu P12', Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: 'Petrona, serif' !important;
    text-transform: uppercase;
    padding: 15px;
}
.section-chanel img {
    vertical-align: middle;
    display: inline-block;
}
.section {
    margin-bottom: 50px;
}
.section .hoatiet {
    width: 15%;
    max-width: 50%;
}
.widget-image {
    text-align: center;
}
.section-chanel .heading-title {
    text-align: center;
    font-family: 'Petrona, serif' !important;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5em;
}
.section-chanel .widget-wrap {
    position: relative;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding: 10px;
}
.section-chanel .widget-wrap .wrapper {
    padding-bottom: 75%;
}

embed,
iframe,
object,
video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}
.fit-aspect-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
/* section-quytrinh */

.section-quytrinh .image-container {
    padding: 10px;
}
/* section-khachhang */
.section-khachhang {
}
.swiper-container,
.swiper-container-doitac {
    width: 100%;
    position: static;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-slide {
    flex-shrink: 0;
    position: relative;
    text-align: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper {
    height: auto;
}

.swiper-pagination-bullet-active,
.swiper-pagination-progressbar-fill {
    background-color: #f1a908;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-button {
    font-size: 20px;
    color: #cacaca;
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 1;
    cursor: pointer;
    font-size: 25px;
    color: hsla(0, 0%, 93.3%, 0.9);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.swiper-button-next,
.swiper-button-prev {
    top: calc(50% - (-40px / 2));
}
.swiper-scrollbar {
    position: absolute !important;
}
.section-khachhang .testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 20px;
}

.section-khachhang .testimonial__content {
    padding: 20px;
    position: relative;
    font-family: 'Petrona, serif' !important;
}
.section-khachhang .testimonial__content .testimonial__text {
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5;
    color: #dbdbdb;
}
.section-khachhang .testimonial__content .testimonial__cite {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 25px;
}

.section-khachhang .testimonial__content .testimonial__cite .testimonial__title {
    color: #fcb218;
}
.section-khachhang .testimonial__content .testimonial__cite .testimonial__name {
    color: #fcb218;
}
.section-khachhang .testimonial__footer {
    margin-bottom: 49px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.section-khachhang .testimonial__footer .testimonial__image {
    flex-shrink: 0;
}
.section-khachhang .testimonial__footer .testimonial__image img {
    border-radius: 999px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
    height: 200px;
}
/* section contact */
.section-contact .icon-list-items {
    padding: 0;
    list-style: none;
}
.section-contact .widget-wrap {
    align-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
.section-contact .element {
    margin-bottom: 20px;
}
.section-contact .icon-list-items .icon-list-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: inherit;
}
.section-contact .icon-list-items .icon-list-item .icon-list-icon {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section-contact .icon-list-items .icon-list-item .icon-list-icon i {
    color: #fcb218;
    width: 1.25em;
    font-size: 30px;
}

.icon-list-icon i {
    color: #fcb218;
    font-size: 20px;
}
.section-contact .icon-list-items .icon-list-item .icon-list-text {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    align-self: center;
    padding-left: 5px;
    font-family: 'Petrona, serif';
    text-align: left;
    display: inline-block;
}
.section-contact iframe {
    height: 408px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}
.section-contact.custom-ember {
    overflow: hidden;
}

/* section-post */

.posts .post,
.posts .post__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.posts--thumbnail-left .post,
.posts--thumbnail-right .post {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.posts--skin-classic .post {
    overflow: hidden;
}
.posts .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
}
.posts-container .post {
    padding: 0;
    margin: 0;
}

.element.posts--thumbnail-left .post__thumbnail__link {
    margin-right: 20px;
}
.element .post__thumbnail__link {
    width: 30%;
}
.posts--thumbnail-left .post__thumbnail__link {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-right: 20px;
}
.posts--thumbnail-left .post__thumbnail__link,
.posts--thumbnail-right .post__thumbnail__link {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 25%;
}
.posts-container .post__thumbnail__link {
    position: relative;
    display: block;
    width: 100%;
}

.element .posts-container .post__thumbnail {
    padding-bottom: calc(0.6 * 100%);
}

.posts-container.has-item-ratio .post__thumbnail {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.posts-container.has-item-ratio .post__thumbnail.fit-height img {
    height: 100%;
    width: auto;
}
.posts-container.has-item-ratio .post__thumbnail img {
    height: auto;
    position: absolute;
    top: calc(50% + 1px);
    left: calc(50% + 1px);
    -webkit-transform: scale(1.01) translate(-50%, -50%);
    -ms-transform: scale(1.01) translate(-50%, -50%);
    transform: scale(1.01) translate(-50%, -50%);
}
.posts-container .post__thumbnail img {
    display: block;
    width: 100%;
    max-height: none;
    max-width: none;
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
}
.posts .post__text {
    display: var(--item-display, block);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-family: 'Roboto', Sans-serif;
}
.section-posts .widget-wrap {
    background-color: #ebebeb;
    padding: 0px;
}
.section-posts .element .post__title,
.section-posts .element .post__title a {
    color: #121212;
    font-family: 'Petrona, Sans-serif';
    font-size: 17px;
    font-weight: 500;
}
.widget-posts .post__title,
.widget-posts .post__title a {
    color: var(--e-global-color-secondary);
    font-family: 'Petrona, Sans-serif';
    font-weight: var(--e-global-typography-primary-font-weight);
}
.posts .post__title {
    font-size: 18px;
    margin: 0;
}
.section-posts .element .post__title a {
    color: #121212;
    font-family: 'Petrona, Sans-serif';
    font-size: 17px;
    font-weight: 500;
}

.posts-container:not(.posts-masonry) {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.section-posts .element > .widget-container {
    margin: 20px 30px 30px 30px;
    padding: 0px 0px 0px 0px;
}
.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fcb218%2F%3E%3C%2Fsvg%3E") !important;
    color: var(--orange);
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fcb218%2F%3E%3C%2Fsvg%3E") !important;
    color: var(--orange);
}
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/

/* POST PAGE */
.post-template {
}

.post-template .card {
    background-color: #000000;
}
.post-template .card .card-body {
    padding: 0px;
}
.post__read-more {
    color: #fda702;
    font-size: 12px;
}
.post-template .card-body {
    font-family: 'Patreno, Sans-serif';
}

.khuyen-mai-template {
}

.khuyen-mai-template .cta__bg {
    height: 100%;
    background-image: url('/images/257726008_637555894291243_8469913468389725331_n-1024x437.jpg');
    transition-duration: 1500ms;
    will-change: transform;
    background-size: cover;
    background-position: 50%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.khuyen-mai-template .cta__content {
    text-align: center;
    background-color: #f7f7f7;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-family: 'Patreno, Sans-serif';
    padding: 35px;
    width: 100%;
}
.khuyen-mai-template .cta__content h2 {
    margin: 5px auto;
}
.khuyen-mai-template .cta__content {
    color: #55595c;
    border-color: #55595c;
    fill: #55595c;
}
.khuyen-mai-template .cta__content .cta__button-wrapper {
    margin: 5px auto;
}

.breadcrumb a {
    color: #767676;
    font-weight: 700;
}
.breadcrumb a.active {
    color: #fda702;
}
.breadcrumb {
    margin: 0 0 1em;
    padding: 0;
    font-size: 0.92em;
}
.breadcrumb .nmr-crumb:first-child a::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 15px;
    content: '\f015';
    color: #767676;
}
.product_categories ul li {
    display: inline-block;
    width: auto;
    list-style: outside none none;
    padding: 5px 10px;
    border: solid 2px #fda702;
    border-left-color: rgb(253, 167, 2);
    border-left-style: solid;
    border-left-width: 2px;
    margin: 5px;
    border-radius: 20px;
    border-left: solid 7px #fda702;
    font-size: 14px;
}

.product_categories ul li a {
    color: white !important;
}
.layered-nav-list__item a {
    position: relative;
}
.layered-nav-list__item a::before {
    content: '';
    font-size: 15px;
    color: #fda702;
    position: absolute;
    top: 1;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 1px;
}
.layered-nav-list__item a {
    position: relative;
    padding: 0 0 0 30px;
    border-bottom: 0;
    display: inline-block;
    color: white;
}
.price_list_filter ul li {
    list-style: none;
}
.price_list_filter ul li:hover a,
.price_list_filter ul li:hover a::before {
    color: #fda702;
    content: '\2714';
    text-align: center;
    vertical-align: middle;
}

/* Cart */
table.shop_table th {
    font-weight: 700;
    padding: 9px 12px px;
    line-height: 1.5em;
}

.cart th {
    text-align: center !important;
    font-size: 14px !important;
}
.cart-collaterals table.shop_table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
table.cart-form__contents > thead:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-top-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
table.cart-form__contents > thead:after {
    content: '';
    position: absolute;
    top: -20px;
    right: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-top-right.png);
    background-repeat: no-repeat;
    background-size: cover;
}
table.cart-form__contents > tbody:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-bottom-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
table.cart-form__contents > tbody:after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-bottom-right.png);
    background-repeat: no-repeat;
    background-size: cover;
}
table.shop_table th {
    text-transform: uppercase;
}
table.shop_table td,
table.shop_table th {
    background: black;
    color: #fda702;
    border: 0.5px solid #fda702;
}
a.remove {
    content: 'X';
    float: left;
    text-indent: 0;
    font-size: 12px;
    color: black;
    background: #fda702;
    padding: 5px;
}
a.remove {
    color: inherit !important;
    background: 0 0 !important;
    border-color: inherit;
    font-weight: 600;
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    font-family: 'Petrona, sans-serif';
}
.cart-form__contents thead th:first-child {
    border-radius: 10px 0 0 0;
}

table.cart .product-thumbnail {
    min-width: 220px;
}
table.shop_table td {
    padding: 20px;
}
table.shop_table td.product-name {
    text-transform: uppercase;
}
table.shop_table td.product-name a {
    color: var(--yellow);
}

table.shop_table td.product-name dl.variation {
    text-transform: none !important;
    margin-top: 30px;
}
table.shop_table td.product-name dl.variation {
    font-size: 13px !important;
}
table.shop_table td {
    padding: 9px 12px;
    vertical-align: middle;
    line-height: 1.5em;
    color: var(--yellow);
}
.giakhuyenmai,
.giathuong {
    color: white;
}
.Price-amount {
    text-transform: capitalize;
}
.qib-container div.quantity:not(#qib_id):not(#qib_id) {
    float: left;
    line-height: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    width: auto;
    min-height: initial;
    min-width: initial;
    max-height: initial;
    max-width: initial;
}
@media (min-width: 768px) {
    table.cart td.product-quantity .qib-container:not(#qib_id) :not(#qib_id) {
        display: flex;
        justify-content: center;
    }
}
.qib-button:not(#qib_id):not(#qib_id) {
    line-height: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 35px;
    width: 30px;
    color: black;
    background: #e2e2e2;
    border-color: #cac9c9;
    float: left;
    min-height: initial;
    min-width: initial;
    max-height: initial;
    max-width: initial;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0;
    border-style: solid;
    border-width: 1px;
    transition: none;
    border-radius: 0;
}
.quantity .minus:not(#qib_id):not(#qib_id),
.quantity .plus:not(#qib_id):not(#qib_id),
.quantity > a:not(#qib_id):not(#qib_id) {
    display: none;
}
.qib-container .quantity input.qty:not(#qib_id):not(#qib_id) {
    line-height: 1;
    background: none;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 35px;
    width: 45px;
    min-height: initial;
    min-width: initial;
    max-height: initial;
    max-width: initial;
    box-shadow: none;
    font-size: 15px;
    border-style: solid;
    border-color: #cac9c9;
    border-width: 1px 0;
    border-radius: 0;
    background-color: #fff;
    outline: none;
}
.quantity .plus:not(#qib_id):not(#qib_id),
.quantity > a:not(#qib_id):not(#qib_id) {
    display: none;
}
.qib-button:not(#qib_id):not(#qib_id) {
    line-height: 1.5;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 35px;
    width: 30px;
    color: black;
    background: #e2e2e2;
    border-color: #cac9c9;
    float: left;
    min-height: initial;
    min-width: initial;
    max-height: initial;
    max-width: initial;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0;
    border-style: solid;
    border-width: 1px;
    transition: none;
    border-radius: 0;
}
.screen-reader-text,
.screen-reader-text span {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
td.product-quantity {
    min-width: 140px;
}
.product-subtotal {
    text-align: center;
    min-width: 120px;
}
.product-remove {
    min-width: 30px;
}
.product-price {
    text-align: center;
}
table td.product-price {
    min-width: 300px;
}
.coupon {
    float: left;
}
#content table.cart td.actions .input-text,
table.cart td.actions .input-text,
#content table.cart td.actions .input-text,
table.cart td.actions .input-text {
    width: 150px;
    padding: 10px 15px;
}

#content table.cart td.actions .coupon label,
table.cart td.actions .coupon label,
#content table.cart td.actions .coupon label,
table.cart td.actions .coupon label {
    display: none;
}
#respond input#submit,
a.button,
button.button,
input.button {
    color: #ffffff;
    background-color: #fda702;
    font-weight: normal;
    text-transform: none;
    padding: 10px 20px;
}
.cart-collaterals {
    width: 100%;
}
.cart-collaterals::after,
.cart-collaterals::before {
    content: ' ';
    display: table;
}
.cart-collaterals .cart_totals,
.cart-collaterals .cart_totals h2 {
    font-size: 16px;
    font-weight: bold;
    color: black !important;
}
.cart-collaterals .cart_totals,
.cart-collaterals .cart_totals {
    float: right;
    width: 100%;
}
@media screen and (min-width: 800px) {
    .cart-collaterals .cart_totals,
    .cart-collaterals .cart_totals {
        margin-right: 0px !important;
        width: 45% !important;
    }
}
.cart-collaterals .cart_totals tr {
    background: #fda702 !important;
}
.cart-collaterals .cart_totals .cart-subtotal {
    display: none;
}

table.shop_table tr {
    color: black !important;
}
.cart-collaterals .order-total {
    font-weight: 600;
    text-align: center;
}

.cart-collaterals .order-total:before {
    padding: 0 25px;
    font-size: 23px;
    line-height: 60px;
    content: 'TỔNG TẠM TÍNH';
}
p.taxtext {
    font-size: 12px !important;
    color: #fff;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 0px !important;
    font-family: 'Patreno, Sans-serif';
}
.cart_totals .shop_table tr.order-total th {
    padding: 15px !important;
    display: none;
}
.wc-proceed-to-checkout {
}
.wc-proceed-to-checkout a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding: 1em;
    border: 2px solid #fda702;
    background-color: #000;
}
.wc-proceed-to-checkout a.checkout-button:hover {
    background-color: #fda702;
    color: #000;
}
span.onsale {
    width: 45px;
    height: 75px;
    border-radius: 0;
    background-image: url(/images/label-3d.png);
    background-color: #fff0;
    background-repeat: no-repeat;
    font-size: 13px;
    top: -1px;
    position: absolute;
    line-height: 2;
    z-index: 200;
    color: #fff;
}
span.onsale,
li.product .onsale {
    width: 45px;
    height: 75px;
    border-radius: 0;
    background-image: url(/images/label-3d.png);
    background-color: #fff0;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px !important;
    font-weight: 700 !important;
    font-size: 14px;
}

.shop-list-title {
    color: #fff;
}

.product-details .product-detail-item {
    width: 100%;
}
.product-details .product-detail-item li a {
    border: 2px solid var(--orange);
    color: #fff;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}
.product-details .product-detail-item li:hover a {
    background-color: #fff;
    color: #000;
}
.product_meta {
    font-size: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
}

.product_meta .detail-container:not(:last-child) {
    padding-bottom: calc(0px / 2);
    position: relative;
    display: block;
}
.detail-label {
    font-weight: 700;
}
.product-title h2 {
    color: #fda702;
    font-family: 'Patreno, Sans-serif';
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4em;
}
.shop-list-title {
    min-width: 80px;
}
.product-details .product-price {
    color: #fda702 !important;
    font-size: 25px !important;
    font-family: 'Patreno, Sans-serif';
}
.product-detail-item li:hover a.btn-submit {
    background-color: var(--orange);
}

.share-btn {
    border-radius: 50%;
    border-width: 2px;
    border: 1px solid var(--orange);
    width: 40px;
    height: 40px;
    text-align: center;
}

.share-btn:not(:last-child) {
    margin-right: 10px;
}

.share-btn i {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #fda702 !important;
}
.elementor-facebook-widget.fb-like {
    height: 1px;
}
.elementor-facebook-widget.fb_iframe_widget,
.elementor-facebook-widget.fb_iframe_widget span {
    width: 100% !important;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}
widget.fb_iframe_widget span {
    width: 100% !important;
}
.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
}
.elementor-facebook-widget.fb_iframe_widget iframe {
    position: relative;
    width: 100% !important;
}
.fb_iframe_widget iframe {
    position: absolute;
}
.sanpham iframe {
    height: 300px;
}

.product-features {
    padding: 30px 10px 10px 10px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #fda702;
    border-radius: 10px 10px 10px 10px;
}

.product-detail-features .button {
    font-family: 'Patreno, Sans-serif';
    font-size: 30px;
    font-weight: 600;
    fill: #fda702;
    color: #fda702;
    background-color: #000000;
    display: inline-block;
    line-height: 1;
    padding: 12px 24px;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 50px;
}
.product-detail-features .icon-list-icon {
    color: #fda702;
    font-size: 20px;
    font-weight: 600;
}
#variantProductSize a {
    display: block;
}
#variantProductSize .ui-selected .ui-selectee {
    color: #000;
}
#variantProductSize .ui-selected a {
    background-color: #fff;
}

/* payments */
#customer_details {
    border: 2px solid var(--orange);
    position: relative;
    border-radius: 10px 10px 0px 0px;
}
#customer_details > .billing-fields:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-top-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#customer_details > .billing-fields:after {
    content: '';
    position: absolute;
    top: -20px;
    right: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-top-right.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#customer_details > div.additional-fields:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-bottom-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#customer_details > div.additional-fields:after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-bottom-right.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#customer_details h3:first-child {
    border-radius: 10px 10px 0px 0px;
}

#customer_details h3,
h3#order_review_heading {
    text-transform: uppercase !important;
}
#customer_details h3 {
    background: #fda702;
    color: #000 !important;
    text-align: center;
    padding-top: 6px;
    font-weight: 600;
    padding-right: 6px;
}

#customer_details .form-row label {
    color: #fda702 !important;
}
form .form-row input.input-text,
form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
}
form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0 !important;
    text-decoration: none;
}
#order_review_heading {
    position: relative;
    width: 100%;
    background: #fda702;
    color: #000 !important;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}
#order_review_heading:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-top-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#order_review_heading:after {
    content: '';
    position: absolute;
    top: -20px;
    right: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-top-right.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#order_review .order-total th,
#order_review .order-total td {
    background-color: var(--orange);
    color: #000000;
}
.table-wrapper {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
}
.table-wrapper::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#order_review:after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-bottom-right.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#order_review::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -20px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/coner-bottom-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#payment {
    background: #000;
    border-radius: 5px;
}
ul.payment_methods {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #d3ced2;
    margin: 0;
    list-style: none outside;
}
#customer_details p,
ul.wc_payment_methods.payment_methods.methods {
    color: #fda702 !important;
}
#payment ul.payment_methods::before {
    content: ' ';
    display: table;
}
#payment ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
}
#payment ul.payment_methods {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #d3ced2;
    margin: 0;
    list-style: none outside;
}
#payment ul.payment_methods li:not(.notice)::before {
    content: ' ';
    display: table;
}

.checkout #payment ul.payment_methods li input {
    margin: 0 1em 0 0;
}
#payment .payment_methods li.wc_payment_method > input[type='radio']:first-child {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
#payment .payment_methods li.wc_payment_method > input[type='radio']:first-child:checked + label {
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.07);
}

#payment .payment_methods > .wc_payment_method > label {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.04);
    display: block;
    cursor: pointer;
}
#payment .payment_methods li.wc_payment_method > input[type='radio']:first-child:checked + label::before {
    content: '\2B24';
}
#payment .payment_methods > .wc_payment_method > label:before {
    content: '\25EF';
}

#add_payment_method #payment div.payment_box,
.cart #payment div.payment_box,
.checkout #payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: 0.92em;
    border-radius: 2px;
    line-height: 1.5;
    color: #515151;
}
.checkout #payment ul.payment_methods li img {
    float: right;
}
.checkout #payment ul.payment_methods li img {
    vertical-align: middle;
    margin: -2px 0 0 0.5em;
    padding: 0;
    position: relative;
    box-shadow: none;
}
#payment ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
}
#payment #place_order,
#payment #place_order {
    float: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 150%;
}
button#place_order,
a.checkout-button {
    border: 1px solid #fda702 !important;
    color: #fff !important;
    background-color: transparent !important;
}
.privacy-policy-text,
.cart-subtotal {
    display: none;
}

button#place_order:hover,
a.checkout-button:hover {
    border: 1px solid #fda702 !important;
    color: #000 !important;
    background-color: #fda702 !important;
}
/* Introduction */
.itemPageWrap {
    padding: 60px 0;
}
.itemPageWrap .row {
    width: 100%;
}
.itemPageWrap .row .item {
    display: block;
}
.itemPageWrap .row .item:nth-child(n) {
    padding-right: 1.5%;
    padding-left: 1.5%;
}
.itemPageWrap .row .item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
}
.itemPageWrap .row .item div {
    padding: 20px 30px;
    background: #fff;
    border: 1px solid #dedede;
    position: relative;
    margin-bottom: 0 !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.itemPageWrap .row .item h3 {
    font-size: 38px;
    color: var(--background);
    text-transform: uppercase;
    padding-bottom: 25px;
    display: block;
    position: relative;
}
.itemPageWrap .row .item h3:after {
    width: 2px;
    height: 75px;
    content: '';
    display: inline-block;
    position: absolute;
    top: 6px;
    left: -31px;
    background: var(--orange);
}
.itemPageWrap .row .item p {
    font-size: 16px;
    padding-bottom: 20px;
}
.itemPageWrap .row .item a {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.itemPageWrap .row .item:hover div {
    background: var(--orange);
}
.itemPageWrap .row .item:hover a,
.itemPageWrap .row .item:hover h3,
.itemPageWrap .row .item:hover p {
    color: var(--background);
}
.itemPageWrap .row .item:hover .btn-2 {
    background: url(../images/ar-w.png) right center/24px no-repeat;
}
.itemPageWrap .btn-2 {
    display: inline-block;
    font-family: riftdemi;
    text-transform: uppercase;
    font-size: 18px;
    color: #a7a7a7;
    background: url(../images/ar-g.png) right center/24px no-repeat;
    padding-right: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* post */
.post-heading {
    color: var(--orange);
}
.post-content {
    color: #a7a7a7;
}

.post-content ul {
    margin: 0 0 1.5em 3em;
}

.post-content h2,
.post-content a,
.post-content h3 span a {
    color: #fff !important;
}
.post-navigation .post-navigation__link {
    width: calc(50% - (1px / 2));
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.login-page {
    font-family: 'Roboto';
    background: #121212; /* fallback for old browsers */
    overflow-x: hidden;

    height: 600px;

    /* code to make all text unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* ########################################################## */

.login-page h1 {
    color: #fda702;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.login-page .flex-container {
    width: 100vw;

    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page .content-container {
    width: 500px;
    height: 400px;
}

.login-page .form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 400px;

    margin-top: 5px;
    padding-top: 20px;

    border-radius: 12px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background: #1f1f1f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

.login-page .subtitle {
    font-size: 11px;

    color: rgba(177, 177, 177, 0.3);
}

.login-page input {
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;

    margin-bottom: 30px;

    background: none;
    color: rgba(255, 255, 255, 0.555);

    height: 35px;
    width: 300px;
}

.login-page .submit-btn {
    cursor: pointer;

    border: none;
    border-radius: 8px;

    box-shadow: 2px 2px 7px #38d39f70;

    background: #fda702;
    color: rgba(0, 0, 0);

    width: 100px;

    transition: all 1s;
}

.login-page .submit-btn:hover {
    color: white;
    box-shadow: none;
}
.styleTitle {
    font-size: 25px;
}
.dropdown-menu li:hover > ul.submenu {
    display: block;
    list-style: none;
    background-color: #fff;
    top: 0;
    left: 100%;

    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu ul.submenu {
    top: 100%;
    left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.dropdown-menu ul.submenu .submenu {
    top: -0.5em;
    left: 100%;
    font-size: 1em;
}
.dropdown-menu ul.submenu li {
    font-size: 0.9rem;
}
.dropdown-menu ul {
    display: none;
    position: absolute;
}
