<div class='container'>
    <div class='row'>
        <div class='col-md-5 d-flex flex-wrap'>
            <div class='widget-wrap'>
                <div
                    class='element align-left tablet-align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                >
                    <div class='container'>
                        <ul class='icon-list-items'>
                            <li class='icon-list-item'>
                                <span class='icon-list-icon'>
                                    <i aria-hidden='true' class='fas fa-phone-square-alt'></i>
                                </span>
                                <span class='icon-list-text fs-1' style='color: var(--orange)'>1900 86 68 16</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class='element align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                >
                    <div class='container'>
                        <ul class='icon-list-items'>
                            <li class='icon-list-item'>
                                <span class='icon-list-icon'>
                                    <i aria-hidden='true' class='fas fa-envelope'></i>
                                </span>
                                <span class='icon-list-text'>cskh.hhfurniture@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class='element align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                >
                    <div class='container'>
                        <ul class='icon-list-items'>
                            <li class='icon-list-item'>
                                <span class='icon-list-icon'>
                                    <i aria-hidden='true' class='fas fa-globe-africa'></i>
                                </span>
                                <span class='icon-list-text'>https://hhfurniture.vn</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class='element align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                >
                    <div class='container'>
                        <ul class='icon-list-items'>
                            <li class='icon-list-item'>
                                <span class='icon-list-icon'>
                                    <i aria-hidden='true' class='fas fa-map-marker-alt'></i>
                                </span>
                                <span class='icon-list-text'>24 đường số 2, KDC Cityland,<br />
                                    Phường 7, Quận Gò Vấp, TP.HCM</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class='col-md-7'>
            <div class='widget-wrap'>
                <div class='element widget widget-google_maps'>
                    <div class='widget-container'>
                        <div class='custom-embed'>
                            <iframe
                                frameborder='0'
                                scrolling='no'
                                marginheight='0'
                                marginwidth='0'
                                src='https://maps.google.com/maps?q=N%E1%BB%99i%20th%E1%BA%A5t%20H%26H%20-%20H%26H%20Furniture&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near'
                                title='Nội thất H&amp;H - H&amp;H Furniture'
                                aria-label='Nội thất H&amp;H - H&amp;H Furniture'
                                height='500px'
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>