<footer class='footer pb-0 d-flex'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 p-4'>
                <div class='element widget widget-heading'>
                    <h2 class='heading-title size-default'>GIỚI THIỆU</h2>
                </div>
                <div class='element widget'>
                    <p>H&amp;H Furniture là công ty chuyên cung cấp các thiết bị nội thất uy tín, chất lượng hàng đầu
                        tại TP.HCM và trên toàn quốc. Với đội ngũ kỹ thuật giỏi chuyên môn, giàu kinh nghiệm chắc chắn
                        sẽ mang lại sự hài lòng cho quý khách hàng. .</p>
                </div>
                <div class='element icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'>
                    <div class='widget-container'>
                        <ul class='icon-list-items'>
                            <li class='icon-list-item'>
                                <span class='icon-list-icon'>
                                    <i aria-hidden='true' class='fas fa-home'></i>
                                </span>
                                <span class='icon-list-text'>24 đường số 2, KDC Cityland, Phường 7, Quận Gò Vấp, TP.HCM</span>
                            </li>
                            <li class='icon-list-item'>
                                <span class='icon-list-icon'>
                                    <i aria-hidden='true' class='fas fa-envelope'></i>
                                </span>
                                <span class='icon-list-text'>cskh.hhfurniture@gmail.com</span>
                            </li>
                            <li class='icon-list-item'>
                                <span class='icon-list-icon'>
                                    <i aria-hidden='true' class='fas fa-phone-alt'></i>
                                </span>
                                <span class='icon-list-text'>1900 86 68 16</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->

            <div class='col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 p-4'>
                <div class='element widget widget-heading'>
                    <div class='widget-container'>
                        <h2 class='heading-title size-default'>SẢN PHẨM</h2>
                    </div>
                </div>
                <div class='element widget widget-text-editor'>
                    <div class='widget-container'>
                        <div class='text-editor clearfix'>
                            {{#each lsSubCat}}
                            <a href="{{slug}}" class="text-capitalize"title="{{name}}">{{name}}</a><br />
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class='element widget widget-heading'>
                    <div class='widget-container'>
                        <h2 class='heading-title size-default'>CHÍNH SÁCH</h2>
                    </div>
                </div>
                <div class='element widget widget-text-editor'>
                    <div class='widget-container'>
                        <div class='text-editor clearfix'>
                            Chính sách giao hàng<br />
                            Chính sách bảo hành &amp; đổi trả
                            <br />
                            Chính sách bảo mật
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class='col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 p-4'>
                <div class='element widget widget-heading'>
                    <div class='widget-container'>
                        <h2 class='heading-title size-default'>ĐĂNG KÝ NHẬN TIN</h2>
                    </div>
                </div>
                <div class='element button-align-stretch widget widget-form'>
                    <div class='widget-container'>
                        <form class='form' method='post' name='New Form'>
                            <input type='hidden' name='post_id' value='135' />
                            <input type='hidden' name='form_id' value='56d0c59' />
                            <input type='hidden' name='referer_title' value='' />

                            <input type='hidden' name='queried_id' value='40' />

                            <div class='form-fields-wrapper labels-'>
                                <div
                                    class='field-type-email field-group column field-group-email col-100 field-required'
                                >
                                    <label for='form-field-email' class='field-label screen-only'>
                                        Email
                                    </label>
                                    <input
                                        size='1'
                                        type='email'
                                        name='form_fields[email]'
                                        id='form-field-email'
                                        class='field size-sm field-textual'
                                        placeholder='Nhập email của bạn'
                                        required='required'
                                        aria-required='true'
                                    />
                                </div>
                                <div class='field-group column field-type-submit col-100 e-form__buttons'>
                                    <button type='submit' class='button size-sm'>
                                        <span>
                                            <span class='button-icon'>
                                            </span>
                                            <span class='button-text'>Nhập email và click vào đây để đăng ký nhận tin</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='element widget widget-heading'>
                    <div class='widget-container'>
                        <h2 class='heading-title size-default'>KẾT NỐI VỚI H &amp; H</h2>
                    </div>
                </div>
                <div class='element shape-circle e-grid-align-left grid-0 widget widget-social-icons'>
                    <div class='widget-container'>
                        <div class='social-icons-wrapper grid'>
                            <span class='grid-item'>
                                <a class='icon social-icon social-icon-facebook' target='_blank'>
                                    <span class='screen-only'>Facebook</span>
                                    <i class='fab fa-facebook'></i>
                                </a>
                            </span>
                            <span class='grid-item'>
                                <a class='icon social-icon social-icon-twitter' target='_blank'>
                                    <span class='screen-only'>Twitter</span>
                                    <i class='fab fa-twitter'></i>
                                </a>
                            </span>
                            <span class='grid-item'>
                                <a class='icon social-icon social-icon-youtube' target='_blank'>
                                    <span class='screen-only'>Youtube</span>
                                    <i class='fab fa-youtube'></i>
                                </a>
                            </span>
                            <span class='grid-item'>
                                <a class='icon social-icon social-icon-linkedin' target='_blank'>
                                    <span class='screen-only'>Linkedin</span>
                                    <i class='fab fa-linkedin'></i>
                                </a>
                            </span>
                            <span class='grid-item'>
                                <a class='icon social-icon social-icon-pinterest' target='_blank'>
                                    <span class='screen-only'>Pinterest</span>
                                    <i class='fab fa-pinterest'></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='element widget widget-image'>
                    <div class='widget-container'>
                        <div class='image'>
                            <a href='http://online.gov.vn/Home/WebDetails/71672' target='_blank' rel='nofollow'>
                                <img
                                    class='img-fluid rounded float-start'
                                    src='https://hhfurniture.com.vn/wp-content/uploads/2021/04/logoSaleNoti.png'
                                    class='attachment-large size-large'
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class='col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 p-4'>
                <div class='element widget widget-heading'>
                    <div class='widget-container'>
                        <h2 class='heading-title size-default'>KẾT NỐI VỚI H &amp; H</h2>
                    </div>
                </div>
                <div class='element widget widget-facebook-page w-100'>
                    <div class='widget-container text-center'>
                        <div
                            class='facebook-widget fb-page fb_iframe_widget'
                            style='min-height: 1px;height:300px'
                            fb-xfbml-state='rendered'
                            fb-iframe-plugin-query='app_id=&amp;container_width=340&amp;height=300&amp;hide_cover=false&amp;hide_cta=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdonoithattancodienhh&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width=500px'
                        ><span style='vertical-align: bottom; width: 340px; height: 300px;'><iframe
                                    name='f242d53ac245b6c'
                                    height='500px'
                                    title='fb:page Facebook Social Plugin'
                                    frameborder='0'
                                    allowtransparency='true'
                                    allowfullscreen='true'
                                    scrolling='no'
                                    allow='encrypted-media'
                                    src='https://www.facebook.com/v2.10/plugins/page.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df33872ed94534e%26domain%3Dhhfurniture.com.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fhhfurniture.com.vn%252Ff1b849d1b8c9e8%26relation%3Dparent.parent&amp;container_width=340&amp;height=300&amp;hide_cover=false&amp;hide_cta=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdonoithattancodienhh&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width=500px'
                                    style='border: none; visibility: visible; width: 340px; height: 300px;'
                                    class=''
                                ></iframe></span></div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer>
<footer class='footer footer-bar p-2 d-flex'>
    <div class='container text-center'>
        <div class='row align-items-center'>
            <div class='col-sm-6'>
                <div class='text-sm-start'>
                    <p class='mb-0'>Copyright © 2020 H & H Furniture. All rights
                        reserved.
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer>