<div class='element widget widget-heading'>
    <div
        class='widget-container align-center heading-title-container'
        style='background-image: url(/images/background-tieu-de-hh.png);'
    >
        <h2 class='heading-title-chanel size-default'>{{title}}</h2>
    </div>
</div>

<div class='element widget widget-image'>
    <div class='widget-container'>
        <div class='image'>
            <img
                width='300'
                height='84'
                src='/images/hoa-tiet-hoa-van.png'
                class='hoatiet attachment-large size-large'
                alt=''
                loading='lazy'
            />
        </div>
    </div>
</div>